*{
    list-style: none;
    text-decoration: none;
    padding: 0px 0px;
    margin: 0px 0px ;
}
a{
    color: aqua;
}
nav{
    background-color: red;
    width: 100%;
    height: 80px;
}
.logo{
    padding: 0px 10px;
    line-height: 10px;
    font-size: 30px;
    font-weight: bold;
}
.logo2{
    float: right ;
    margin-right: 10px;
}
.logo2, ul, li{
    display: inline-block;
    line-height: 10px;
    margin: -9px 20px;
    font-size: 15px;
    text-transform: uppercase;
}
.checkbtn{
    font-size: 30px;
    color: royalblue;
}